# Не загружаем виртуальное окружение проекта.
.venv/

# Не загружаем служебные кеш-файлы Python.
__pycache__/

# Не загружаем файл с секретным токеном.
.env

# Не загружаем системные файлы PyCharm.
.idea/

# Не загружаем промежуточные файлы компиляции Python.
*.pyc